# C++ (Ubuntu)
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS X
.DS_Store
*.zip

# Python 
*.pyc
*_pb2.py
__pycache__/
twisted/

# Sublime
*.sublime-project
*.sublime-workspace

# Eclipse
*.project
*.pydevproject
*.metadata
*.settings
.idea
*.rdb

# CSharp
obj/

# web2py
sessions/
errors/
.log
.pid
.pyc
.w2p
*.table
*.log
dalfiles/

# uwsgi
*.pid

# java
*.class


# Backup Files
*.csv#
.gitignore~
